pkgbase = git-cai-cli
	pkgdesc = Use LLM to create git commit messages.
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/thorstenfoltz/cai
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-yaml
	depends = python-openai
	depends = python-google-genai
	depends = python-requests
	depends = python-typer
	source = https://files.pythonhosted.org/packages/4d/b3/7a2f293e5b264dad2f99960b5c8510a07cd6f0e14e150e12a640ab67bed3/git_cai_cli-0.4.0.tar.gz
	sha256sums = 3f292d5bd7fbc56c17e5705a2d70c2956eda96eb63827c42a4d85e8ece518832

pkgname = git-cai-cli
